# [level1]
# line1 =
# line2 =
# line3 =
# line4 =
# line5 =
# line6 =
# line7 = -----1122222211-----
# Gift100Points = 2
# Gift200Points = 1
# GiftBurningBall = 3

[level1]
line1  =
line2  = 
line3  =
line4  =
line5  =
line6  = 11111111111111111---
line7  = 222222222222222222--
line8  = 111111111111111111--
line9  = 333333333333333333--
line10 = 444444444444444444--
line11 = 333333333333333333--
line12 = 555555555555555555--
line13 = 666666666666666666--
line14 = 5555555555555555555-
Gift100Points = 2
Gift200Points = 1
GiftBurningBall = 30

[level2]
line1 =
line2 =
line3 =
line4 =
line5 = 11111122222222111111
line6 = 22--221111111122--22
line7 = 111u112222222211u111
GiftStickyBar = 2
GiftEnlargeBar = 1
GiftShrinkBar = 2
GiftIncreaseSpeed = 2
GiftDecreaseSpeed = 1
Gift100Points = 3
Gift200Points = 1
GiftAddBall = 2

[level3]
line1 =
line2 =
line3 = --1-11-11--11-11-1--
line4 = --2-22-22--22-22-2--
line5 = -333333333333333333-
line6 = u11u11u11uu11u11u11u
line7 = 33333333333333333333
line8 = 2--2--2--22--2--2--2
line9 = 1--1--1--11--1--1--1
GiftMagicWand = 2
Gift200Points = 1
GiftLoseLife = 3
GiftSplitBall = 2
GiftIncreaseSpeed = 2
GiftDecreaseSpeed = 2
GiftEnlargeBar = 2
GiftShrinkBar = 2

[level4]
line1  =
line2  =
line3  = ---1--1--22----333--
line4  = ---1--1--222---333--
line5  = ---1-1---2-22--3----
line6  = ---1-1---2--2--3----
line7  = ---11----2--2--33---
line8  = ---11----2--2--33---
line9  = ---111---2--2--3----
line10 = ---1-1---2-22--3----
line11 = ---1--1--222---333--
line12 = ---1--1--22----333--
line13 =
line14 = hhhhhhhhhhhhhhhhhhhh
line15 = mmmmmmmmmmmmmmmmmmmm
GiftStickyBar = 1
GiftBurningBall = 1
GiftMagicWand = 1
GiftMagicEye = 1
Gift100Points = 4
Gift3000Points = 1
GiftAddLife = 1
GiftEnlargeBar = 3
GiftShrinkBar = 6

[level5]
line1  = 22--333--444--555--1
line2  = 222--333--444--555--
line3  = 222--333--444--555--
line4  = -222--333--444--555-
line5  = -222--333--444--555-
line6  = --222--333--444--555
line7  = --222--333--444--555
line8  = 1--222--333--444--55
line9  = 1--222--333--444--55
line10 = 11--222--333--444--5
line11 = 11--222--333--444--5
line12 = 111--222--333--444--
line13 = 111--222--333--444--
line14 = -111--222--333--444-
line14 = -111--222--333--444-
GiftStickyBar = 1
GiftBurningBall = 1
Gift200Points = 4
Gift500Points = 2
Gift1000Points = 1
GiftNextLevel = 1
GiftIncreaseSpeed = 3
GiftDecreaseSpeed = 6
GiftEnlargeBar = 1
GiftShrinkBar = 4

[level6]
line1  =
line2  =
line3  =
line4  =
line5  =
line6  = 11111111111111111111
line7  = 22222222222222222222
line8  = 33333333333333333333
line9  = 44444444444444444444
line10 = 55555555555555555555
line11 = 66666666666666666666
line12 = uuuu6uuuuuuuuuu6uuuu
line13 = 66666666666666666666
GiftStickyBar = 1
GiftBurningBall = 1
GiftMagicWand = 1
GiftLoseLife = 2
Gift100Points = 2
Gift200Points = 1
Gift500Points = 1
GiftIncreaseSpeed = 3
GiftDecreaseSpeed = 1
GiftEnlargeBar = 3
GiftShrinkBar = 4

[level7]
line1  = uuuuuuuuuuuuuuuuuuuu
line2  = u------------------u
line3  = u-----------------1u
line4  = u------------------u
line5  = u------------------u
line6  = u----uuuuuuuuuuuuuuu
line7  = u------------------u
line8  = u------------------u
line9  = u------------------u
line10 = uuuuuuuuuuuuuuuu---u
line11 = ---------------u---u
line12 = -------------------u
line13 = -------------------u
line14 = -----------u-------u
line15 = -----------uuuuuuuuu

[level8]
line1  = --------------------
line2  = --------------------
line3  = -hhhhhhhhhhhhhhhhhh-
line4  = -hhmmmmmmmmmmmmmmhh-
line5  = -hhmm1111111111mmhh-
line6  = -hhmm1111111111mmhh-
line7  = -hhmm1111111111mmhh-
line8  = -hhmm1122222211mmhh-
line9  = -hhmm1122222211mmhh-
line10 = -hhmm1122222211mmhh-
line11 = -hhmm1111111111mmhh-
line12 = -hhmm1111111111mmhh-
line13 = -hhmm1111111111mmhh-
line14 = -hhmmmmmmmmmmmmmmhh-
line15 = -hhhhhhhhhhhhhhhhhh-
GiftBurningBall = 1
GiftUnstoppableBall = 1
Gift200Points = 8
Gift500Points = 4
Gift1000Points = 2
Gift3000Points = 1
GiftLoseLife = 2
GiftMagicWand = 1
GiftIncreaseSpeed = 3
GiftDecreaseSpeed = 6
GiftEnlargeBar = 1
GiftShrinkBar = 4

[level9]
line1  = hhhhhhhhh33hhhhhhhhh
line2  = hhhhhhhhuuuuhhhhhhhh
line3  = --------------------
line4  = --------------------
line5  = hhhhhhhhhhhhhhhhhhhh
line6  = --------------------
line7  = --------------------
line8  = --------------------
line9  = hhhhhhhhhhhhhhhhhhhh
line10 = hhhhhhhhhhhhhhhhhhhh
line11 = --------------------
line12 = --------------------
line13 = h-h-h-h-h-h-h-h-h-h-
line14 = -h-h-h-h-h-h-h-h-h-h
line15 = h-h-h-h-h-h-h-h-h-h-
line16 = -h-h-h-h-h-h-h-h-h-h
Gift500Points = 3
Gift1000Points = 2
GiftLoseLife = 2
GiftIncreaseSpeed = 2
GiftBurningBall = 1
GiftMagicEye = 1

[level10]
line1  = 22222--------------
line2  = 111111-------------
line3  = 6666666------------
line4  = 55555555-----------
line5  = 444444444----------
line6  = 3333333333---------
line7  = 22222222222--------
line8  = 111111111111-------
line9  = 6666666666666------
line10 = 55555555555555-----
line11 = 444444444444444----
line12 = 3333333333333333---
line13 = 22222222222222222--
line14 = 111111111111111111-
line15 = uuuuuuuuuuuuuuuuuuu
GiftBurningBall = 1
GiftUnstoppableBall = 1
Gift200Points = 8
Gift500Points = 4
Gift1000Points = 2
Gift3000Points = 1
GiftLoseLife = 2
GiftMagicWand = 1
GiftIncreaseSpeed = 3
GiftDecreaseSpeed = 6
GiftEnlargeBar = 3
GiftShrinkBar = 5
GiftNextLevel = 1

[level11]
line1  = -121212121212121212-
line2  = -212121212121212121-
line3  = -uuuuuuuuuuuuuuuuuu-
line4  = -434343434343434343-
line5  = -343434343434343434-
line6  = -uuuuuuuuuuuuuuuuuu-
line7  = -656565656565656565-
line8  = -565656565656565656-
line9  = -656565656565656565-
line10 = -565656565656565656-
line11 = -656565656565656565-
line12 = -uu555uu6666uu555uu-
line13 = h-5-5-5-5-5-5-5-5-5h
line14 = -6-6-6-6-6-6-6-6-6-6
line15 = 5-5-5-5-5-5-5-5-5-5-
line16 = -6-6-6-6-6-6-6-6-6-6
Gift200Points = 4
Gift500Points = 3
Gift1000Points = 2
Gift3000Points = 1
GiftBurningBall = 1
Gift1000Points = 2
GiftLoseLife = 2
GiftIncreaseSpeed = 2
GiftIncreaseSpeed = 3
GiftEnlargeBar = 4
GiftShrinkBar = 4
GiftAddLife = 1

[level12]
line1  = -------------------
line2  = -------------------
line3  = -------------------
line4  = ---66uu22222uu66---
line5  = ---66u2222222u66---
line6  = ---66u2222222u66---
line7  = ---66u2222222u66---
line8  = ---66u2222222u66---
line9  = ---66u2222222u66---
line10 = ---66u2222222u66---
line11 = ---66u2222222u66---
line12 = ---66u2222222u66---
line13 = ---66uuuuuuuuu66---
line14 = ----66666666666----
Gift200Points = 2
GiftLoseLife = 2
GiftIncreaseSpeed = 3
GiftEnlargeBar = 1
GiftShrinkBar = 4
GiftAddLife = 1

[level13]
line1  = hhhhhhhhhhhhhhhhhhh6
line2  = hhhhhhhhhhhhhhhh----
line3  = hhhhhhhhhhhhhhh----h
line4  = hhhhhhhhhhhhhh----hh
line5  = hhhhhhhhhhhhh----hhh
line6  = hhhhhhhhhhhh----hhhh
line7  = hhhhhhhhhhh----hhhhh
line8  = hhhhhhhhhh----hhhhhh
line9  = hhhhhhhhh----hhhhhhh
line10 = hhhhhhhh----hhhhhhhh
line11 = hhhhhhh----hhhhhhhhh
line12 = hhhhhh----hhhhhhhhhh
line13 = hhhhh----hhhhhhhhhhh
line14 = hhhh----hhhhhhhhhhhh
line15 = hhh----hhhhhhhhhhhhh
line16 = hh----hhhhhhhhhhhhhh
GiftLoseLife = 2
GiftIncreaseSpeed = 2
GiftBurningBall = 2
GiftMagicEye = 1

[level14]
line1  =
line2  =
line3  = 
line4  = 
line5  = ---333--4--4--55----
line6  = ---333--4--4--555---
line7  = ---3----44-4--5-5---
line8  = ---3----44-4--5-5---
line9  = ---33---4444--5-5---
line10 = ---33---4444--5-5---
line11 = ---3----4-44--5-5---
line12 = ---3----4-44--5-5---
line13 = ---333--4--4--555---
line14 = ---333--4--4--55----
GiftLoseLife = 5
GiftIncreaseSpeed = 20