[Desktop Entry]
Name=KBreakOut
Icon=kbreakout
Type=Application
Exec=kbreakout -caption "%c"
X-DocPath=kbreakout/index.html
GenericName=Breakout-like Game
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
