[Desktop Entry]
Name=KBreakOut
Name[sv]=Utbrytning
Name[x-test]=xxKBreakOutxx
Icon=kbreakout
Type=Application
Exec=kbreakout -caption "%c"
X-DocPath=kbreakout/index.html
GenericName=Breakout-like Game
GenericName[cs]=Hra typu Breakout
GenericName[da]=Breakout-lignende spil
GenericName[de]=Breakout-Spiel
GenericName[el]=Παιχνίδι παρόμοιο με το Breakout
GenericName[es]=Juego similar a Breakout
GenericName[et]=Breakouti moodi mäng
GenericName[fr]=Jeu dans le style d'un casse-briques
GenericName[ga]=Cluiche Cosúil le Breakout
GenericName[gl]=Xogo de rachar tixolos
GenericName[it]=Un gioco simile a Breakout
GenericName[ja]=ブロック崩しゲーム
GenericName[km]=ល្បែង​ដូច​នឹង Breakout
GenericName[lt]=Breakout-tipo žaidimas
GenericName[lv]=Klucīšu izsišanas spēle
GenericName[nds]=Breakout-liek Speel
GenericName[nl]=Breakout-achtig spel
GenericName[nn]=Breakout-liknande spel
GenericName[pl]=Gra podobna do Breakout
GenericName[pt]=Jogo semelhante ao BreakOut
GenericName[pt_BR]=Jogo do tipo breakout (quebra de barreiras)
GenericName[ro]=Un joc ca Breakout
GenericName[ru]=Арканоидо-подобная игра
GenericName[sl]=Igra podobna Breakoutu
GenericName[sv]=Spel som liknar Breakout
GenericName[tr]=Breakout-benzeri Oyun
GenericName[uk]=Гра схожа на Breakout
GenericName[x-test]=xxBreakout-like Gamexx
GenericName[zh_CN]=挡板弹球游戏
GenericName[zh_TW]=打磚塊遊戲
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
