[KGameTheme]
Name=Alien Breakout
Name[de]=Außerirdische
Name[es]=Breakout alienígena
Name[nn]=Romvesen
Name[pt]=Breakout Extra-Terrestre
Name[pt_BR]=Breakout alienígena
Name[ru]=Чужой Breakout
Name[sr]=Туђински пробој
Name[sr@latin]=Tuđinski proboj
Name[sv]=Utomjordisk utbrytning
Name[uk]=Чужинський Breakout
Name[x-test]=xxAlien Breakoutxx
Name[zh_TW]=異形式打磚塊
Description=Breakout before the aliens do.
Description[de]=Breakout vor den Außerirdischen.
Description[es]=Breakout antes de la fiesta de los alienígenas.
Description[nn]=Romvesena kjem!
Description[pt]=Destrua o nível antes dos extra-terrestres.
Description[pt_BR]=Quebre as barreiras antes que os alienígenas o façam.
Description[ru]=Тема, созданная «чужими»
Description[sr]=Пробијте се пре туђинаца.
Description[sr@latin]=Probijte se pre tuđinaca.
Description[sv]=Bryt dig ut innan utomjordingarna gör det.
Description[uk]=Breakout до появи чужинців.
Description[x-test]=xxBreakout before the aliens do.xx
Description[zh_TW]=在異形之前把磚塊打掉。
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=alienbreakout.svgz
Preview=alien_preview.png
