[KGameTheme]
Name=Alien Breakout
Name[bs]=Probijanje aliena
Name[ca]=Breakout alien
Name[ca@valencia]=Breakout alien
Name[da]=Rumvæsen-breakout
Name[de]=Außerirdische
Name[el]=Εξωγήινο breakout
Name[en_GB]=Alien Breakout
Name[es]=Breakout alienígena
Name[et]=Tulnukate läbimurdmine
Name[fr]=Breakout extraterrestre
Name[ga]=Alien Breakout
Name[gl]=Fuga extraterrestre
Name[hu]=Űrlények falbontó
Name[it]=Breakout alieno
Name[kk]=Бөтен Breakout
Name[km]=Breakout របស់​ Alien
Name[nb]=Romvesen-utbrutt
Name[nds]=Buteneerdschenutbrook
Name[nl]=Alien Breakout
Name[nn]=Romvesen
Name[pl]=Ucieczka obcych
Name[pt]=Breakout Extra-Terrestre
Name[pt_BR]=Breakout alienígena
Name[ru]=Чужой Breakout
Name[sk]=Mimozemský Breakout
Name[sr]=Туђински пробој
Name[sr@ijekavian]=Туђински пробој
Name[sr@ijekavianlatin]=Tuđinski proboj
Name[sr@latin]=Tuđinski proboj
Name[sv]=Utomjordisk utbrytning
Name[tr]=Alien Breakout
Name[uk]=Чужинський Breakout
Name[x-test]=xxAlien Breakoutxx
Name[zh_CN]=异形打砖块
Name[zh_TW]=異形式打磚塊
Description=Breakout before the aliens do.
Description[bs]=Bježi prije aliena.
Description[ca]=El Breakout abans que el fessin en aliens.
Description[ca@valencia]=El Breakout abans que el fessin en aliens.
Description[da]=Bryd ud før rumvæsenerne gør det.
Description[de]=Breakout vor den Außerirdischen.
Description[el]=Κάνε breakout πριν από τους εξωγήινους.
Description[en_GB]=Breakout before the aliens do.
Description[es]=Escapa antes de que lo hagan los alienígenas.
Description[et]=Läbimurdmine enne tulnukaid.
Description[fr]=Détruisez tout avant que les extraterrestres s'en chargent.
Description[gl]=Fuxe antes de que o fagan os extraterrestres. 
Description[hu]=Falbontás az űrlényekkel versenyezve.
Description[it]=Rompi tutto tu prima degli alieni.
Description[kk]=Бөтендер дейінгі Breakout
Description[km]=បំបែក​ឲ្យ​បាន​មុន​ aliens ។
Description[nb]=Bryt deg ut for romvesenene gjør det.
Description[nds]=Utbreken, ehr de Buteneerdschen dat doot.
Description[nl]=Uitbreken voordat de aliens dat doen.
Description[nn]=Romvesena kjem!
Description[pl]=Ucieknij zanim zrobią to obcy.
Description[pt]=Destrua o nível antes dos extra-terrestres.
Description[pt_BR]=Quebre as barreiras antes que os alienígenas o façam.
Description[ru]=Тема, созданная «чужими»
Description[sk]=Breakout pred príchodom mimozemšťanov.
Description[sr]=Пробијте се пре туђинаца.
Description[sr@ijekavian]=Пробијте се прије туђинаца.
Description[sr@ijekavianlatin]=Probijte se prije tuđinaca.
Description[sr@latin]=Probijte se pre tuđinaca.
Description[sv]=Bryt dig ut innan utomjordingarna gör det.
Description[tr]=Uzaylılardan önce kaçın.
Description[uk]=Breakout до появи чужинців.
Description[x-test]=xxBreakout before the aliens do.xx
Description[zh_CN]=在异形前打掉砖块。
Description[zh_TW]=在異形之前把磚塊打掉。
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=alienbreakout.svgz
Preview=alien_preview.png
