[KGameTheme]
Name=Crystal clear
Name[ast]=Cristal tresparente
Name[bs]=Kristalno čisto
Name[ca]=Cristall transparent
Name[ca@valencia]=Cristall transparent
Name[cs]=Crystal clear
Name[da]=Crystal clear
Name[de]=Kristall
Name[el]=Crystal clear
Name[en_GB]=Crystal clear
Name[es]=Con claridad cristalina
Name[et]=Crystal clear
Name[eu]=Beira garbia
Name[fr]=Crystal épuré
Name[ga]=Crystal clear
Name[gl]=Cristal limpo
Name[hne]=क्रिस्टल साफ
Name[hu]=Kristály
Name[it]=Puro cristallo
Name[ja]=クリスタル・クリア
Name[km]=គ្រីស្តាល់​ថ្លា
Name[lv]=Kristāldzidra
Name[nb]=Krystallklart
Name[nds]=Kristallklaar
Name[nl]=Crystal clear
Name[nn]=Krystallklar
Name[pl]=Kryształowo czyste
Name[pt]=Cristal
Name[pt_BR]=Cristalino
Name[ro]=Curată ca cristalul
Name[ru]=Кристальная чистота
Name[sk]=Krištáľovo čisté
Name[sl]=Kristalno čista
Name[sq]=Kristal i pastër
Name[sr]=Кристално јасно
Name[sr@ijekavian]=Кристално јасно
Name[sr@ijekavianlatin]=Kristalno jasno
Name[sr@latin]=Kristalno jasno
Name[sv]=Kristallklar
Name[tr]=Crystal clear
Name[uk]=Кристально чиста
Name[wa]=Crystal clear
Name[x-test]=xxCrystal clearxx
Name[zh_CN]=清澈水晶
Name[zh_TW]=Crystal clear
Description=Crystal-like theme for KBreakOut
Description[ast]=Tema asemeyáu a Cristal pa KBreakOut
Description[bs]=Tema za KBreakOut poput kristala
Description[ca]=Tema cristal·lí pel KBreakout
Description[ca@valencia]=Tema cristal·lí pel KBreakout
Description[da]=Crystal-lignende tema for KBreakOut
Description[de]=Kristalldesign für KBreakOut.
Description[el]=Θέμα Crystal για το KBreakOut
Description[en_GB]=Crystal-like theme for KBreakOut
Description[es]=Tema similar a Cristal para KBreakOut
Description[et]=KBreakOuti Crystali teema  
Description[eu]=Beira bezalako gaia KBreakOut-entzako
Description[fr]=Thème dans le style de Crystal pour KBreakOut
Description[ga]=Téama cosúil le criostal le haghaidh KBreakOut
Description[gl]=Tema visual ao estilo do Crystal para KBreakOut
Description[hu]=Kristályos téma a KBreakOuthoz
Description[it]=Tema tipo Crystal per KBreakOut
Description[ja]=KBreakOut の Crystal 風テーマ
Description[km]=ស្បែក​ដូច​គ្រីស្តាល់​សម្រាប់ KBreakOut
Description[lv]=Crystal līdzīga KBreakOut tēma
Description[nb]=Krystall-liknende tema for KBreakOut
Description[nds]=Kristall-liek Muster för KBreakOut
Description[nl]=Kristal-achtig thema voor KBreakOut
Description[nn]=Crystal-liknande tema
Description[pl]=Motyw dla KBreakOut
Description[pt]=Tema tipo Cristal para o KBreakOut
Description[pt_BR]=Tema cristalino para o KBreakOut
Description[ro]=Tematică curată ca cristalul pentru KBreakOut
Description[ru]=Кристально чистое оформление для KBreakOut
Description[sk]=Krištáľovo čistá téma pre KBreakOut
Description[sl]=Kristalno čista tema za KBreakOut
Description[sq]=Temë si kristali për KBreakOut
Description[sr]=Кристална тема К‑пробоја
Description[sr@ijekavian]=Кристална тема К‑пробоја
Description[sr@ijekavianlatin]=Kristalna tema K‑proboja
Description[sr@latin]=Kristalna tema K‑proboja
Description[sv]=Kristall-liknande tema för Utbrytning i KDE 4
Description[tr]=KBreakout için Crystal-benzeri tema
Description[uk]=Кристалоподібна тема для KBreakOut
Description[wa]=Tinme come Crystal po sKetaedje
Description[x-test]=xxCrystal-like theme for KBreakOutxx
Description[zh_CN]=KBreakOut 的水晶风格主题
Description[zh_TW]=KBreakOut 的類似 Crystal 佈景主題
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=crystal.svgz
Preview=crystal_preview.png
