[KGameTheme]
Name=Crystal clear
Description=Crystal-like theme for KBreakOut
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=crystal.svgz
#Preview=crystal_preview.png
