[KGameTheme]
Name=Egyptian Breakout
Name[el]=Αιγυπτιακή αναπήδηση
Name[et]=Egiptuse Breakout
Name[nn]=Egyptiske Breakout
Name[pt]=Breakout Egípcio
Name[pt_BR]=Breakout Egípcio
Name[sr]=Египатски пробој
Name[sr@latin]=Egipatski proboj
Name[sv]=Egyptisk utbrytning
Name[uk]=Єгипетський Breakout
Name[zh_CN]=埃及风情
Name[zh_TW]=埃及式打磚塊
Description=Egyptian style breakout theme.
Description[el]=Αιγυπτιακό θέμα στυλ breakout.
Description[et]=Egiptuse stiilis Breakouti teema.
Description[nn]=KBreakout i egyptisk stil.
Description[pt]=Tema do Breakout de estilo Egípcio.
Description[pt_BR]=Tema do Breakout de estilo Egípcio.
Description[sr]=Тема К‑пробоја у египатском стилу
Description[sr@latin]=Tema K‑proboja u egipatskom stilu
Description[sv]=Utbrytningstema med egyptisk stil
Description[uk]=Тема Breakout у єгипетському стилі.
Description[zh_CN]=埃及风格的 KBreakOut 主题
Description[zh_TW]=埃及風格主題的打磚塊。
VersionFormat=0.4
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=egyptianbreakout.svgz
Preview=egyptian_breakout_preview.png
