[KGameTheme]
Name=Default
Name[et]=Vaikimisi
Name[sv]=Förval
Description=KBreakOut Default theme for KDE 4
Description[et]=KBreakOuti KDE 4 vaiketeema
Description[sv]=Standardtema för Utbrytning i KDE 4
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=default.svgz
#Preview=default_preview.png
