[KGameTheme]
Name=Egyptian Breakout
Name[ca]=Breakout egipci
Name[da]=Egyptisk Breakout
Name[de]=Ägyptisch
Name[el]=Αιγυπτιακή αναπήδηση
Name[es]=Breakout egipcio
Name[et]=Egiptuse Breakout
Name[fr]=Casse-briques égyptiennes
Name[gl]=Breakout exipcio
Name[it]=Breakout egizio
Name[km]=Breakout Egyptian
Name[lv]=Ēģiptes Breakout
Name[nn]=Egyptiske Breakout
Name[pt]=Breakout Egípcio
Name[pt_BR]=Breakout egípcio
Name[sr]=Египатски пробој
Name[sr@latin]=Egipatski proboj
Name[sv]=Egyptisk utbrytning
Name[uk]=Єгипетський Breakout
Name[x-test]=xxEgyptian Breakoutxx
Name[zh_CN]=埃及风情
Name[zh_TW]=埃及式打磚塊
Description=Egyptian style breakout theme.
Description[ca]=Tema breakout d'estil egipci.
Description[da]=Breakout-tema i egyptisk stil.
Description[de]=Das ägyptische Design für Breakout.
Description[el]=Αιγυπτιακό θέμα στυλ breakout.
Description[es]=Thema breakout de estilo egipcio.
Description[et]=Egiptuse stiilis Breakouti teema.
Description[fr]=Thème égyptien pour KBreakOut.
Description[gl]=Tema para o Breakout de estilo exipcio.
Description[it]=Tema in stile egizio per KBreakOut.
Description[km]=ស្បែក​របស់ KBreakOut Egyptian
Description[lv]=Ēģiptes stila Breakout tēma.
Description[nl]=Egyptisch thema voor KBreakOut.
Description[nn]=KBreakout i egyptisk stil.
Description[pt]=Tema do Breakout de estilo Egípcio.
Description[pt_BR]=Tema do Breakout de estilo egípcio.
Description[ru]=Оформление в египетском стиле.
Description[sr]=Тема К‑пробоја у египатском стилу
Description[sr@latin]=Tema K‑proboja u egipatskom stilu
Description[sv]=Utbrytningstema med egyptisk stil
Description[uk]=Тема Breakout у єгипетському стилі.
Description[x-test]=xxEgyptian style breakout theme.xx
Description[zh_CN]=埃及风格的 KBreakOut 主题
Description[zh_TW]=埃及風格主題的打磚塊。
VersionFormat=0.4
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=egyptianbreakout.svgz
Preview=egyptian_breakout_preview.png
