[KGameTheme]
Name=Egyptian Desert
Name[el]=Αιγυπτιακή έρημος
Name[et]=Egiptuse kõrb
Name[ga]=Gaineamhlach Éigipteach
Name[gl]=Deserto exipcio
Name[nds]=Ägyptsche Wööst
Name[pt]=Deserto Egípcio
Name[pt_BR]=Deserto egípcio
Name[sv]=Egyptisk öken
Name[uk]=Єгипетська пустеля
Name[x-test]=xxEgyptian Desertxx
Name[zh_TW]=埃及沙漠
Description=Egyptian desert theme test
Description[el]=δοκιμή θέματος αιγυπτιακής ερήμου
Description[et]=Egiptuse kõrbe teema test
Description[ga]=Tástáil den téama gaineamhlaigh Éigiptigh
Description[gl]=Proba do tema Deserto exipcio
Description[nds]=Test för't Muster "Ägyptsche Wööst"
Description[pt]=Teste do tema do deserto egípcio
Description[pt_BR]=Teste do tema deserto egípcio
Description[sv]=Test av temat Egyptisk öken
Description[uk]=Перевірка теми єгипетської пустелі
Description[x-test]=xxEgyptian desert theme testxx
Description[zh_TW]=埃及沙漠主題測試
VersionFormat=0.1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=egyptian_desert_test.svgz
Preview=egyptian_desert_test_preview.png
