[KGameTheme]
Name=IceWorld
Name[be]=
Name[br]=
Name[ca]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[et]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[ga]=
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[km]=
Name[ko]=
Name[lv]
Name[nds]=
Name[ne]=
Name[nl]=
Name[nn]=
Name[oc]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ru]=
Name[sl]=
Name[sv]=
Name[te]=
Name[tr]=
Name[uk]=
Name[wa]=
Name[x-test]=
Name[zh_CN]=
Name[zh_TW]=
Description=Ice chilled theme
Description[ca]=
Description[da]=
Description[de]=
Description[el]=
Description[es]=
Description[et]=
Description[fr]=
Description[ga]=
Description[gl]=
Description[it]=
Description[ja]=
Description[km]=
Description[lv]=
Description[nds]=
Description[nl]=
Description[nn]=
Description[pl]=
Description[pt]=
Description[pt_BR]=
Description[ru]=
Description[sl]=
Description[sv]=
Description[tr]=
Description[uk]=
Description[x-test]=
Description[zh_CN]=
Description[zh_TW]=
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=IceWorld.svgz
Preview=IceWorld_preview.png
