[KGameTheme]
Name=IceWorld
Name[sv]=Isvärld
Description=Ice chilled theme
Description[el]=Ένα παγωμένο θέμα
Description[pt]=Tema frio como gelo
Description[pt_BR]=Tema frio como gelo
Description[sv]=Iskallt tema
Description[uk]=Крижана тема
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=IceWorld.svgz
Preview=IceWorld_preview.png
