[KGameTheme]
Name=Simple
Name[sv]=Enkelt
Description=Simple KBreakOut theme
Description[sv]=Enkelt tema för Utbrytning
VersionFormat=1
Author=Fela Winkelmolen
AuthorEmail=fela.kde@gmail.com
Type=SVG
FileName=simple.svgz
#Preview=simple_preview.png
