[KGameTheme]
Name=Simple
Name[ga]=Simplí
Name[gl]=Simples
Name[ja]=シンプル
Name[km]=ធម្មតា
Name[lv]=Vienkārša
Name[nds]=Eenfach
Name[pt]=Simples
Name[pt_BR]=Simples
Name[sv]=Enkel
Name[uk]=Проста
Name[zh_CN]=简洁
Name[zh_TW]=簡單
Description=Simple KBreakOut theme
Description[es]=Tema simple para KBreakOut
Description[ga]=Téama simplí KBreakOut
Description[gl]=Tema simples para KBreakOut
Description[ja]=KBreakOut のシンプルなテーマ
Description[km]=ស្បែក​របស់ KBreakOut ធម្មតា
Description[lv]=Vienkārša KBreakOut tēma
Description[nds]=Eenfach KBreakout-Muster
Description[pt]=Tema simples do KBreakOut
Description[pt_BR]=Tema simples do KBreakOut
Description[sv]=Enkelt tema för Utbrytning
Description[uk]=Проста тема для KBreakOut
Description[zh_CN]=简洁的 KBreakOut 主题
Description[zh_TW]=簡單的 KBreakOut 主題
VersionFormat=1
Author=Fela Winkelmolen
AuthorEmail=fela.kde@gmail.com
Type=SVG
FileName=simple.svgz
#Preview=simple_preview.png
