[KGameTheme]
Name=WEB 2.0
Name[sv]=Webb 2.0
Description=Web 2.0 theme showcases graphical elements reminiscent to those used in popular 'WEB 2.0' movement, currently taking the interweb by storm.
Description[pt]=O tema Web 2.0 apresenta elementos gráficos que fazem lembrar os usados no movimento popular da 'WEB 2.0', tentando conquistar a Web de forma intempestiva.
Description[pt_BR]=O tema Web 2.0 apresenta elementos gráficos que fazem lembrar os usados no movimento popular da 'WEB 2.0', tentando conquistar a Web de forma intempestiva.
Description[sv]=Temat Webb 2.0 förevisar grafiska element som påminner om de som används i den populära rörelsen webb 2.0, som just nu tar interwebben med storm.
Description[uk]=У темі Web 2.0 графічні елементи нагадують графічні елементи, що використовуються у рамках популярного руху «WEB 2.0», який зараз завойовує тенета.
Description[zh_TW]=Web 2.0 主題會顯示那些使用目前最紅的 Web 2.0 的圖形元素
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=web20.svgz
Preview=web20_preview.png
