[KGameTheme]
Name=WEB 2.0
Description=Web 2.0 theme showcases graphical elements reminiscent of those used in popular 'WEB 2.0' movement, currently taking the interweb by storm.
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=web20.svgz
Preview=web20_preview.png
